h1 {
color:red;
font-size: 16px;
margin-bottom: 20px;
border-bottom: 5x solid blueviolet;
}

h2 {
color: rgb(216, 40, 40);
font-size-adjust: inherit;
font-style: Fantasy;
}

h3{
color: khaki;
}
p{
background-color: pink;

}
